{% extends 'blogs/base.html' %}


{% block page_header %}
<h2 class="d-inline"> Search results for <i>"{{ searched }}"</i>  </h2> 
<form id="search" class="input-group-append" method="get" action="{% url 'authors:search_authors' %}"> 
    <input type="search" class="form-control" name="query" placeholder="Search for authors...">
    <button class="btn btn-outline-primary"> Search </button>
 </form> 
{% endblock page_header %}


{% block content %}
<div class="search my-5">
    {% if search_result.count %}
        <h3> Authors </h3>
        {% for searched in search_result %}
            <ul>
                <li> <a href="{{ searched.get_absolute_url }}"> {{ searched.first_name|title }} {{ searched.last_name|title }} </a> </li>
            </ul>
        {% endfor %}
    {% else %} 
        <p> No author matched your search. </p>
    {% endif %}
</div>
{% endblock %}


{% block footer %} {% endblock %}
