{% extends 'blogs/base.html' %}

{% block page_header %}
<h2> Authors 
<a href="{% url 'blogs:beauthor' %}" style="float:right; font-weight:normal;"> Become an author </a> </h2>
{% endblock %}

{% block content %}
   <div style="font-size:xx-large;"> 
      <ul> 
         {% for authors in authors %}
            <li> <a style="color:blue; font-family:Open sans; font-size:35px; font-weight:bold;" href="{{ authors.get_absolute_url }}"> {{ authors.firstname|title }} {{authors.lastname|title}} </a> </li>
         {% empty %}
            <h3> No authors at the moment </h3>
         {% endfor %}  
      </ul>  
   </div>
{% endblock content %}