{% extends 'blogs/base.html' %}

{% block page_header %}
    <h2>About the Author</h2>
{% endblock page_header %}

{% block content %} 
<div style="font-size: 30px;">
    <div class="mb-5 card body">
        <p class="mb-5" > <b> Bio  </b> <br>
        <span class="ml-3"> {{author.bio}} </span> </p>  

        <b> Contact </b> 
         <span class="ml-3"> E-mail: {{author.email}} </span>
    </div>
    <div  class="card body">
        <b> Posts by {{author.firstname|title}} {{author.lastname|title}} </b> 
        <ul>
            {% for posts in author_posts %}
                <li > <a style="font-weight:bold; color:blue;"  href="{{posts.get_absolute_url}}">{{posts.title}} </a> </li>
            {% empty %}
                This author hasn't made any posts yet.
            {% endfor %} 
        </ul>
    </div>
</div>
{% endblock content %}

