{% extends 'blogs/base.html' %}
{% load bootstrap4 %}
{% block page_header %}
<h4 style="font-size: xx-large; font-weight: bold;"> Posts
   <form class=" mb-3" id="search" method="GET" action="{% url 'blogs:search' %}"> 
      <input type="search" name="query" placeholder="Search for posts, authors...">
      <button class="btn btn-dark" style="font-size: 0.5cm;" type="submit"> Search</button>
   </form>  
</h4>
{% endblock page_header %}

{% block content %}
{% if messages %}
   <ul class="messages">
     {% for message in messages %}
         <span style="color: limegreen; font-size: large;">{{ message }}</span>
      {% endfor %}
   </ul>
{% endif %}


{% if all_posts %}
   <div class="text-center position-sticky " id="sidebar">
      <p style="font-size:30px; font-weight:normal;" class="mb-0"> Posts </p>
         {% for post in all_posts %}
            <li> - <a href="{{ post.get_absolute_url }}"> {{post.title}} by {{post.author}} </a> </li> 
         {% endfor %} <br/>   
   </div>
{% endif %}

<article class="container-fluid blog-post" id="maincontent">
   {% for post in posts_list %}
      <div class="text-left mb-4 border-bottom">
         <div class="">
            <a href="{{ post.get_absolute_url }}" style="color:blue; font-weight: bold; font-family:calibri; font-size:32px"> {{ post.title }} </a>  
         </div>
         <div class="" style="font-family:sans-serif; font-size:20px"> 
            <p>{{ post.text|truncatewords:35 }}</p>
            By <b> {{post.author.firstname|title}} {{post.author.lastname|title}} </b>
            <br>  
            <a style="color:rgb(187, 187, 187);"> {{post.date_added.date}} </a>
         </div>   
      </div>
   {% empty %}
      <p> there are no posts at the moment. </p>
   </div>
   {% endfor %}

   <div class="pagination" style="font-size: x-large; text-align:right;" >
      <span class="step-links">
         {% if posts_list.has_previous %}
            <a href="?page=1">&laquo; First</a>
            <a href="?page={{posts_list.previous_page_number }}">Previous</a>
         {% endif %}
         <span class="current">
            Page {{ posts_list.number }} of {{ posts_list.paginator.num_pages }}.
         </span>
         {% if posts_list.has_next %}
            <a href="?page={{ posts_list.next_page_number }}">Next</a>
            <a href="?page={{ posts_list.paginator.num_pages }}">Last &raquo;</a>
         {% endif %}
      </span>
   </div>
</article>


{% endblock %}


<div class="col-md-4">
   <div class="position-sticky" ">
     <div class="p-4 mb-3 bg-light rounded">
      