{% extends 'blogs/base.html' %}
{% load bootstrap4 %}


{% block page_header %}
<h2> Posts
   <form method="get" action="{% url 'blogs:search_posts' %}" class="input-group-append float-right"> 
      <input type="search" class="form-control" name="query" placeholder="Search for posts">
      <button class="btn btn-outline-primary"> Search </button>
   </form>  
</h2>
{% endblock page_header %}


{% block content %}
{% if messages %}
   <div class="alert alert-success w-75 my-5" role="alert">
     {% for message in messages %}
        <span> {{ message }} </span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
      {% endfor %}
   </div>
{% endif %}
<div class="my-5">
   {% if recent_posts %}
   <div class="sidebar p-2">
      <div class="recent-posts mb-5">
         <h4> Recent posts </h4> <hr> 
         {% for post in recent_posts %}
            <li> <a href="{{ post.get_absolute_url }}"> {{ post.title|truncatewords:8 }}</a> </li>
         {% endfor %} 
      </div> <br>
      <div class="new-authors">
         <h4>Meet our newest Authors</h4> <hr>
         {% for author in authors %}
            {% if author.joined_recently %}
               <li> <a href="{{ author.get_absolute_url }}">{{ author }}</a></li>
            {% endif %}
         {% endfor %}
      </div>
   </div>
   {% endif %}

   <div class="maincontent">
      {% for post in posts_list %}
         <div class="my-5 border-bottom container-fluid">
            <a href="{{ post.get_absolute_url }}"> {{ post.title }} </a>  
            <div class="post p-0"> {{ post.text|truncatewords:30|safe }} </div>
            <div class="details text-2 p-0">
               By <b> {{ post.author.first_name|title }} {{ post.author.last_name|title }} </b> <br>
               <span> {{ post.date_added.date }} </span>
            </div>   
         </div>
      {% empty %}
         <p> There are no posts at the moment. </p>
      </div>
      {% endfor %}
   </div>

   {% if posts_list %}
      <div class="pagination">
         <span class="step-links">
            {% if posts_list.has_previous %}
               <a href="?page=1" class="page-link">&laquo; First</a>
               <a href="?page={{ posts_list.previous_page_number }}" class="page-link">Previous</a>
            {% endif %}
            <span class="current">
               Page {{ posts_list.number }} of {{ posts_list.paginator.num_pages }}. <br>
            </span>
            {% if posts_list.has_next %}
               <a href="?page={{ posts_list.next_page_number }}" class="page-link">Next </a>
               <a href="?page={{ posts_list.paginator.num_pages }}" class="page-link"> Last &raquo;</a>
            {% endif %}
         </span>
      </div>
   {% endif %}
</div>
&ThickSpace;
{% endblock %}

