{% extends 'blogs/base.html' %}

{% block page_header %} <h2> Search results for <i>"{{searched}}"</i>  </h2> {% endblock page_header %}


{% block content %}
{% if search.count %}
   <span style="font-size: xx-large;"> Match found </span>
{% endif %}

<div class="search">
   <div>
      <b> <u> Posts </u> </b>
      <ul> 
         {% for searches in search %}
            <li> <a style="color:blue; font-size:32px; " href="{{ searches.get_absolute_url }}"> {{searches.title}} </a>  by {{searches.author.firstname|title}}  {{searches.author.lastname|title}}</li>  
         {% empty %} 
            No post(s) matched your search.
         {% endfor %} 
      </ul>
   </div>

   <div>
      <b> <u> Authors </u> </b>
      <ul>
      {% for searched in search_author %}
         <li> <a style="color:blue;" href="{{searched.get_absolute_url}}"> {{searched.firstname|title}} {{searched.lastname|title}} </a> </li>
      {% empty %} 
         No author(s) matched your search.
      {% endfor %}
      </ul>
   </div>
</div>
{% endblock %}