{% extends 'blogs/base.html' %}

{% block page_header %} <h2> Search results for <i>"{{searched}}"</i>  </h2> {% endblock page_header %}

{% block content %}
{% if search.count %}
   <span style="font-size: xx-large;"> Match found </span>

{% endif %}


<div style="font-size:xx-large;">
   <b> <u> Posts </u> </b>
   <ul> 
   {% for searches in search %}
      <li> <a style="color:blue; font-family:calibri; font-size:32px; font-weight: bold;" href="{{ searches.get_absolute_url }}"> {{searches.title}} </a>  by {{searches.author.firstname|title}}  {{searches.author.lastname|title}}</li>  
{% empty %} 
      No post matched your search.
{% endfor %} </div>
</ul>

<div style="font-size:xx-large;">
   <b> <u> Authors </u> </b>
   <ul>
   {% for searched in search_author %}
      <li> <a style="color:blue; font-weight: bold;" href="{{searched.get_absolute_url}}"> {{searched.firstname|title}} {{searched.lastname|title}} </a> </li>
   {% empty %} 
      No author matched your search.
   {% endfor %}
   </ul>
</div>



{% endblock %}