{% extends 'blogs/base.html' %}


{% block page_header %}
<h2> Search results for <i> "{{ searched }}" </i>  
   <form id="search" class="input-group-append float-right" method="get" action="{% url 'blogs:search_posts' %}"> 
      <input type="search" class="form-control" name="query" placeholder="Search for posts">
      <button class="btn btn-outline-primary"> Search </button>
   </form> 
</h2> 
{% endblock page_header %}


{% block content %}
<div class="search my-2 px-4">
   {% if search.count %}
      <h3> Posts </h3>
      {% for searches in search %}
         <ul> 
            <li> 
               <a href="{{ searches.get_absolute_url }}"> {{ searches.title }} </a>
               by {{ searches.author.first_name|title }} {{ searches.author.last_name|title }} 
            </li>  
         </ul>
      {% endfor %}
   {% else %} 
      <p> No post matched your search. </p>
   {% endif %} 
</div>
{% endblock %}


{% block footer %} {% endblock %}
