{% extends 'blogs/base.html' %} 
{% load bootstrap4 %}


{% block page_header %}
<h2> Log In </h2>
{% endblock page_header %}


{% block content %} 
<form class="form-group" method="post" action="">
    {% csrf_token %}
    {% bootstrap_form form %}
    <button type="submit" class="btn btn-success" >Log In</button> 
    <hr>
    <p> Don't have an account? <a class="text-success" href="{% url 'users:register' %}"> Register </a> </p>
</form>
{% endblock content %}


{% block footer %} {% endblock %}