{% extends 'blogs/base.html' %} 
{% load bootstrap4 %}

{% block page_header %}
<h3> Log into your account. </h3>
{% endblock page_header %}

{% block content %} 

<form method="post" action="{% url 'users:login' %}" style="font-size:25px;" >
    {% csrf_token %}
    {% bootstrap_form form %}
    <button class="btn btn-success" style="font-size:23px;">Log in</button> 
    <hr>
    Don't have an account? <a class="text-success" href="{% url 'users:register' %}"> Register </a>
    <input type="hidden" name="next" value="{% url 'blogs:index' %}" />
</form>

{% endblock content %}